- title "Actor"

%p
  %strong Address:
  = @actor.address
%p
  %strong Name:
  = @actor.name
%p
  %strong Known Contacts:
  = @actor.known_contacts

%p
  = link_to "Edit", edit_actor_path(@actor)
  |
  = link_to "Destroy", @actor, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", actors_path
